<div *ngIf="selectedCustomer">
  <div class="selected-customer-container">
    <div>
      <div>
        {{selectedCustomer.msisdn}}
      </div>
      <div>
        {{selectedCustomer.name}} {{selectedCustomer.surname}}
      </div>
      <!--      <div>-->
      <!--        <ul>-->
      <!--          <li *ngFor="let product of cart" style="list-style: none">-->
      <!--            {{product.name}} : {{product.price}} : {{product.pricePeriod}}-->
      <!--          </li>-->
      <!--        </ul>-->

      <!--      </div>-->
      <div>
        <button mat-raised-button (click)="onClearData()">İptal Et</button>
      </div>
    </div>


  </div>

</div>

<div class="stepper-container">
  <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="stepperChange($event)">
    <mat-step [stepControl]="selectCustomerFormGroup" [editable]="true">

      <ng-template matStepLabel>Müşteri Seçimi</ng-template>
      <!--        <mat-spinner *ngIf="customers.length===0"></mat-spinner>-->
      <div class="container">
        <form [formGroup]="selectCustomerFormGroup">
          <div style="display: flex; flex-direction: row; justify-content: space-between">
            <mat-form-field appearance="fill" style="flex-grow: 2">
              <mat-label>Müşteri MSISDN</mat-label>
              <input matInput [(ngModel)]="customerMSISDNQueryValue"
                     formControlName="customerMSISDNQueryValueFormCtrl" hideRequiredMarker>
            </mat-form-field>
            <input hidden [(ngModel)]="tmpSelectedCustomer" formControlName="customerMSISDNFormCtrl">
            <div style="padding-left: 5em; vertical-align: middle; width: 10em">
              <button mat-raised-button (click)="onSearchCustomer()">Ara</button>
            </div>
          </div>

        </form>
        <mat-divider></mat-divider>
        <table mat-table
               [dataSource]="dataSource" multiTemplateDataRows
               class="mat-elevation-z8">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns; let i=index;">
            <th mat-header-cell *matHeaderCellDef> {{columnHeaders[i]}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="example-element-row"
              [class.example-selected-row]="selectedElement === element"
              (click)="selectedElement = selectedElement === element? null : element; customerSelected(element.customer)">
          </tr>
        </table>

        <div class="button-container">
          <button mat-raised-button (click)="customerSelectedNext()">İleri</button>
        </div>
      </div>


    </mat-step>
    <mat-step [stepControl]="selectProductFormGroup" [editable]="true" optional="optional">
      <ng-template matStepLabel>Tarife Seçimi</ng-template>
      <div class="container">
        <form [formGroup]="selectProductFormGroup" class="stepperFormContainer">
          <div class="product-container">
            <mat-card *ngFor="let product of products" (click)="selectPlan(product)" class="product-card">
              <div>
                {{product.name}}
              </div>
              <div>
                {{product.price}}
              </div>
            </mat-card>
            <input hidden [(ngModel)]="selectedPlan" formControlName="productFormCtrl">
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [stepControl]="makeOrderFormGroup" [editable]="true">
      <ng-template matStepLabel>Tarife Ayrıntısı</ng-template>
      <form [formGroup]="makeOrderFormGroup" class="stepperFormContainer">
        <div class="product-detail-container">
          <div>
            {{selectedPlan?.name}}
          </div>
          <div>
            {{selectedPlan?.price}}
          </div>
          <div>
            {{selectedPlan?.description}}
          </div>
          <mat-divider></mat-divider>
          <div class="actionButtonContainer">
            <button mat-raised-button (click)="addToCart(selectedPlan)">Sepete Ekle</button>
          </div>
          <div class="actionButtonContainer">
            <button mat-raised-button (click)="emptyCart()">Siparişi İptal Et</button>
          </div>
          <div class="actionButtonContainer">
            <button mat-raised-button (click)="finalizeOrder()">Siparişi Tamamla</button>
          </div>

        </div>
        <mat-divider *ngIf="cart.length>0">
        </mat-divider>
        <div *ngIf="cart">
          <h2>Sepet</h2>
          <div *ngFor="let product of cart; let i=index" class="cartContents">
            <div>
              {{product.name}} - {{product.price}}
            </div>

            <div>
              <button mat-raised-button (click)="removeProduct(product)">Sepetten Çıkar</button>
            </div>

          </div>
        </div>
      </form>
    </mat-step>


  </mat-horizontal-stepper>
</div>





