.selected-customer-container{
  display: flex;
  flex-direction: row-reverse;

}
.stepper-container {
  margin-top: 2em;
  //width: 60%;
  margin-left: auto;
  margin-right: auto;
  min-height: 15em;
  position: relative;
  display: block;
  .container{
    margin: 1em;
  }
  .button-container{
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    //flex-wrap: wrap;
    //flex-flow: wrap;
  }
}




table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}


tr.example-element-row:not(.example-selected-row):active {
  background: #efefef;
}

tr.example-selected-row {
  background: #777;
}


.example-element-row td {
  border-bottom-width: 0;
}

.example-element-name {
  font-size: 1rem;
  margin-top: .3em;
  margin-bottom: .3em;
  line-height: 1.5em;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}
.product-container{
  display: flex;
  //width: 100%;
  margin: 1em;
  justify-content: space-between;
  flex-flow: row wrap;

}
.product-card{
  //flex: 1;
  //width: 15em;
  //width: 32%;
  margin-bottom: 2em;
  min-height: 5em;
  flex-grow:1;
  flex-shrink:1;
  width:30%;
  padding-left:25px;
  padding-top:25px;
}

.cartContents{
  margin-top: 1em;
  margin-bottom: 1em;
}

.actionButtonContainer{
  padding-top: 1em;
  padding-bottom: 1em;
}


@media (max-width: 500px) {
  .mat-horizontal-stepper-header-container{
   display: none !important;
  }
  .product-container{
    display: block;
    width: 100%;
    margin: 1em;
    .product-card{
      flex: 1;
      width: 100%;
      margin-bottom: 2em;
      min-height: 5em;
    }
  }
}
