<div class="container">


  <mat-divider></mat-divider>
  <div class="detailsContainer" *ngIf="order; else empty">
    <p>Sipariş Bilgileri</p>
    <!--    <div>-->
    <!--      Customer Name:-->
    <!--      <span>-->
    <!--        {{order?.customer.name}} {{order?.customer.surname}}-->
    <!--      </span>-->
    <!--    </div>-->
    <div *ngFor="let item of ordersProductData; let i=index" class="detailItem">

      <div>
        {{item.name}} - {{item.price}}
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div style="display: flex">

      <input matInput [(ngModel)]="customerId">
      <button mat-raised-button (click)="onOrderDetails()">Sipariş Ayrıntıları</button>

    </div>
  </ng-template>
</div>
