.container{
  margin-top: 2em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  min-height: 15em;
  position: relative;
  display: block;
}


.detailsContainer{
  margin-top: 1em;
}

.detailItem{
  margin-bottom: .5em;
  margin-top: .5em;
}
