<mat-toolbar>
  <h1>POC03</h1>
  <button mat-button routerLink="/customer-selection">Customer Selection</button>
  <button mat-button routerLink="/order-details">Order Details</button>
</mat-toolbar>
<router-outlet></router-outlet>
